.add-user-container{
    font-family: Roboto;
    margin-left: 20rem;
    width: 50%;
    margin-top: 5rem;
    background: rgb(233, 232, 232);
}
h2{
   margin-left: 15rem;
   padding-top: 2rem;
   padding-bottom: 1.5rem;
   font-size: 1rem;
   font-weight: 400;
}
.name,.email,.phone,.role{
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
}
.add-user-container label{
    margin-left: 10rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.add-user-container input[type="text"],
.add-user-container input[type="number"]{
  margin-left: 10rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-user-container #add{
    height: 2rem;
    width: 30%;
    margin-left: 15rem;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: rgb(1,97,46);
    transition: all 300ms ease;
    margin-bottom: 2rem;
}
#add:hover{
    background: none;
    border: 2px solid rgb(1,97,46);
    color: black;
}