.resources-container{
    font-family: Roboto;
    margin-left: 2rem;
}
.resources-container table{
    margin-left: 16%;
    margin-top: 1rem;
    width: 70%;
    background: white;
    box-shadow: 2px  2px 3px gray;
    padding: 1rem;
    padding-left: 2rem;
    border-collapse: collapse;
}
.resources-container table tbody td{
   border: none;
    height: 2.2rem;
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
}
.resources-container table thead th{
    text-align: start;
    padding-left: 1rem;
    font-size: 0.8rem;
}
.resources-container table thead{
    background-color: gray;
    color: #e7e6e6;
    height: 3rem;
}
a{
    text-decoration: none;
}