.rooms-container{
    font-family: Roboto;
    margin-left: 2rem;
}
.bars{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 14%;
}
.bars a{
    text-decoration: none;
}
.my-search-bar{
    margin-top: 2rem;
    margin-left: 0.5rem;
    width: 60%;
}
.rooms-container table{
    margin-left: 16%;
    margin-top: 1rem;
    width: 70%;
    background: white;
    box-shadow: 2px 2px 3px gray;
    padding: 1rem;
    padding-left: 2rem;
    border-collapse: collapse;
}
.rooms-container table tbody td{
    border: none;
    height: 2.2rem;
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-top: 0.7rem;
}
.rooms-container table thead th{
    text-align: start;
    font-size: 0.8rem;
    padding-left: 1rem;
}
.rooms-container table thead{
    background-color: gray;
    color: #e7e6e6;
    height: 3rem;
}
